# Stock Information

## Overview

## Import Libraries

In [63]:
import pandas as pd
import numpy as np
import yfinance as yf
from urllib.request import urlopen
from pyfinviz import Screener

## Stock Analysis

In [20]:
# user defined function to return stock price and volume
def jra_stock_price_volume(ticker, date_0, date_f):
  # get historical data
  df_stock = yf.download(tickers = ticker, start = date_0, end = date_f)
  df_stock = df_stock.reset_index()
  df_stock['Ticker'] = ticker

  return(df_stock)

In [86]:
# set screener options
options = [Screener.CountryOption.USA, Screener.IPODateOption.MORE_THAN_5_YEARS_AGO]

# pages to get
pg_0 = 1
pg_f = 263

pages = [x for x in range(pg_0, pg_f)]

# load finviz screener
screener_obj = Screener(filter_options = options, pages = pages)

In [104]:
# initialize list of screener table results
df_screener_list = []

# build list of screener table results
for i in pages:
  temp1 = screener_obj.data_frames[i]
  df_screener_list.append(temp1)

# join list of screener table results together
df_screener = pd.concat(df_screener_list).reset_index()

df_screener.head()

,index,No,Ticker,Company,Sector,Industry,Country,MarketCap,PE,Price,Change,Volume
0,0,1,A,Agilent Technologies Inc.,Healthcare,Diagnostics & Research,USA,39.80B,32.35,135.84,0.81%,"325,180"
1,1,2,AA,Alcoa Corp,Basic Materials,Aluminum,USA,4.98B,-,27.90,1.86%,"2,448,113"
2,2,3,AAAU,Goldman Sachs Physical Gold ETF,Financial,Exchange Traded Fund,USA,-,-,19.93,0.45%,"2,555,896"
3,3,4,AADI,Aadi Bioscience Inc,Healthcare,Biotechnology,USA,46.36M,-,1.89,-0.53%,"99,779"
4,4,5,AADR,AdvisorShares Dorsey Wright ADR ETF,Financial,Exchange Traded Fund,USA,-,-,57.50,0.31%,171

In [107]:
# list all screened stocks
stock_list = df_screener['Ticker']
stock_list

0          A
1         AA
2       AAAU
3       AADI
4       AADR
        ...
5233     ZUO
5234    ZVRA
5235     ZWS
5236    ZYME
5237    ZYXI
Name: Ticker, Length: 5238, dtype: object

In [111]:
# initialize start date
date_0 = '2018-01-01'

# initialize end date
date_f = '2023-02-15'

# stock code/ticker
ticker = stock_list[5237]

jra_stock_price_volume(ticker, date_0, date_f)

# get historical stock price and volume for screend stock
df_stock = jra_stock_price_volume(ticker, date_0, date_f)
df_stock

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2018-01-02,2.890909,3.136364,2.854545,3.009091,2.897477,74030,ZYXI
1,2018-01-03,3.000000,3.100000,2.954545,3.000000,2.888723,38830,ZYXI
2,2018-01-04,3.000000,3.000000,2.918182,2.954545,2.844954,35750,ZYXI
3,2018-01-05,2.945455,2.954545,2.818182,2.863636,2.757417,74910,ZYXI
4,2018-01-08,2.909091,3.045455,2.863636,2.909091,2.801186,140580,ZYXI
...,...,...,...,...,...,...,...,...
1284,2023-02-08,12.900000,12.980000,12.540000,12.640000,12.640000,274100,ZYXI
1285,2023-02-09,12.700000,12.950000,12.430000,12.580000,12.580000,199200,ZYXI
1286,2023-02-10,12.490000,12.650000,12.180000,12.590000,12.590000,257000,ZYXI
1287,2023-02-13,12.580000,12.890000,12.490000,12.750000,12.750000,214400,ZYXI
1288,2023-02-14,12.730000,12.820000,12.500000,12.700000,12.700000,143200,ZYXI