# Stock Information

## Overview

## Import Libraries

In [21]:
import pandas as pd
import numpy as np
import yfinance as yf
from urllib.request import urlopen
from pyfinviz import Screener
from pyfinviz import Insider
import pyfinviz
import re

## Stock Analysis

In [2]:
# user defined function to return stock price and volume
def jra_stock_price_volume(ticker, date_0, date_f):
  # get historical data
  df_stock = yf.download(tickers = ticker, start = date_0, end = date_f)
  df_stock = df_stock.reset_index()
  df_stock['Ticker'] = ticker

  return(df_stock)

In [3]:
# set screener options
options = [Screener.CountryOption.USA, Screener.IPODateOption.MORE_THAN_5_YEARS_AGO]

# pages to get
pg_0 = 1
pg_f = 263

pages = [x for x in range(pg_0, pg_f)]

# load finviz screener
screener_obj = Screener(filter_options = options, pages = pages)

In [4]:
# initialize list of screener table results
df_screener_list = []

# build list of screener table results
for i in pages:
  temp1 = screener_obj.data_frames[i]
  df_screener_list.append(temp1)

# join list of screener table results together
df_screener = pd.concat(df_screener_list).reset_index()

df_screener.head()

,index,No,Ticker,Company,Sector,Industry,Country,MarketCap,PE,Price,Change,Volume
0,0,1,A,Agilent Technologies Inc.,Healthcare,Diagnostics & Research,USA,39.53B,32.13,134.93,0.13%,"584,498"
1,1,2,AA,Alcoa Corp,Basic Materials,Aluminum,USA,4.94B,-,27.68,1.06%,"3,177,564"
2,2,3,AAAU,Goldman Sachs Physical Gold ETF,Financial,Exchange Traded Fund,USA,-,-,19.93,0.43%,"3,231,046"
3,3,4,AADI,Aadi Bioscience Inc,Healthcare,Biotechnology,USA,46.61M,-,1.90,0.00%,"136,370"
4,4,5,AADR,AdvisorShares Dorsey Wright ADR ETF,Financial,Exchange Traded Fund,USA,-,-,57.68,0.63%,195

In [5]:
# list all screened stocks
stock_list = df_screener['Ticker']
stock_list

0          A
1         AA
2       AAAU
3       AADI
4       AADR
        ...
5233     ZUO
5234    ZVRA
5235     ZWS
5236    ZYME
5237    ZYXI
Name: Ticker, Length: 5238, dtype: object

In [6]:
# initialize start date
date_0 = '2018-01-01'

# initialize end date
date_f = '2023-02-15'

# stock code/ticker
ticker = stock_list[5237]

jra_stock_price_volume(ticker, date_0, date_f)

# get historical stock price and volume for screend stock
df_stock = jra_stock_price_volume(ticker, date_0, date_f)
df_stock

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2018-01-02,2.890909,3.136364,2.854545,3.009091,2.897477,74030,ZYXI
1,2018-01-03,3.000000,3.100000,2.954545,3.000000,2.888723,38830,ZYXI
2,2018-01-04,3.000000,3.000000,2.918182,2.954545,2.844954,35750,ZYXI
3,2018-01-05,2.945455,2.954545,2.818182,2.863636,2.757417,74910,ZYXI
4,2018-01-08,2.909091,3.045455,2.863636,2.909091,2.801186,140580,ZYXI
...,...,...,...,...,...,...,...,...
1284,2023-02-08,12.900000,12.980000,12.540000,12.640000,12.640000,274100,ZYXI
1285,2023-02-09,12.700000,12.950000,12.430000,12.580000,12.580000,199200,ZYXI
1286,2023-02-10,12.490000,12.650000,12.180000,12.590000,12.590000,257000,ZYXI
1287,2023-02-13,12.580000,12.890000,12.490000,12.750000,12.750000,214400,ZYXI
1288,2023-02-14,12.730000,12.820000,12.500000,12.700000,12.700000,143200,ZYXI

### Get Insider information

In [32]:
# filter options
options = Insider.FilterOption.BUY
# load finviz insider object
insider_obj = Insider(filter_option = options)

In [93]:
df_insider = insider_obj.table_df
df_insider

,Ticker,Owner,Relationship,Date,Transaction,Cost,Shares,Value,SharesTotal,SECForm4
0,EVT,Dunn Aaron,Director,Feb 16,Buy,22.44,315,7070,946,Feb 16 03:08 PM
1,AREN,"Simplify Inventions, LLC",10% Owner,Feb 14,Buy,2.16,5555555,11999999,16067791,Feb 16 03:01 PM
2,LRMR,Flynn James E,Director,Feb 16,Buy,8.74,4290617,37499993,6151406,Feb 16 02:37 PM
3,UMH,QUIGLEY KENNETH K JR,Director,Feb 15,Buy,13.75,73,1000,27459,Feb 16 01:56 PM
4,SRBK,Taylor William P,CEO,Feb 15,Buy,9.50,5200,49400,10200,Feb 16 11:57 AM
...,...,...,...,...,...,...,...,...,...,...
195,GLQ,Clough Charles JR,Person affiliated w/ Inv. Adv.,Feb 12,Buy,6.39,20000,127800,370291,Feb 13 11:49 AM
196,RCG,STAHL MURRAY,President and CEO,Feb 12,Buy,1.60,55,88,246297,Feb 13 11:45 AM
197,RCG,STAHL MURRAY,President and CEO,Feb 12,Buy,1.60,3,5,4913,Feb 13 11:45 AM
198,TPL,STAHL MURRAY,Director,Feb 12,Buy,1466.35,9,13197,197190,Feb 13 11:39 AM
199,TPL,STAHL MURRAY,Director,Feb 12,Buy,1466.35,3,4399,2447,Feb 13 11:39 AM

In [159]:
# get insider stock information
df_insider = insider_obj.table_df
df_insider.Shares = [int(re.sub(pattern = ',', repl = '', string = str(x))) for x in df_insider.Shares]
df_insider.Value = [int(re.sub(pattern = ',', repl = '', string = str(x))) for x in df_insider.Value]
df_insider.Cost = [float(str(x)) for x in df_insider.Cost]
df_insider.SharesTotal = [int(re.sub(pattern = ',', repl = '', string = str(x))) for x in df_insider.SharesTotal]

# aggregate insider stock info
df_insider = (
  df_insider
  .groupby(['Ticker'])[['Value', 'Cost']]
  .agg(["sum", "min", "mean", "max"])
)

# convert column nmaes to flat index 
df_insider.columns =  ["_".join(x) for x in df_insider.columns.to_flat_index()]
df_insider = df_insider.reset_index()

# sort values by value in descending
df_insider = df_insider.sort_values(by = "Value_sum", ascending = False)

# supress scientific notation
pd.options.display.float_format = '{:.0f}'.format

In [161]:
df_insider[0:20]

,Ticker,Value_sum,Value_min,Value_mean,Value_max,Cost_sum,Cost_min,Cost_mean,Cost_max
62,PLCE,55915730,10779027,18638577,24749525,38,11,13,16
48,LRMR,37521993,22000,18760996,37499993,20,9,10,11
54,MRCY,37473258,100000,12491086,37270159,85,28,28,29
46,KYTX,35488992,5568992,11829664,20020000,66,22,22,22
60,PEPG,27212790,27212790,27212790,27212790,11,11,11,11
37,GILD,20020000,20020000,20020000,20020000,22,22,22,22
80,TNYA,19999998,9999999,9999999,9999999,9,4,4,4
52,MGX,13025000,1025000,6512500,12000000,25,10,13,15
4,AREN,11999999,11999999,11999999,11999999,2,2,2,2
53,MLYS,7499992,7499992,7499992,7499992,14,14,14,14
15,BIGZ,6430748,2504871,3215374,3925877,16,8,8,8
29,ECAT,4765682,585058,1588561,3095857,50,17,17,17
17,BMEZ,2570926,655929,1285463,1914997,32,16,16,16
11,BCAT,2541454,278462,847151,1931124,47,16,16,16
88,WT,2186768,2186768,2186768,2186768,7,7,7,7
2,AHR,1999992,999996,999996,999996,24,12,12,12
6,AYX,1661100,1661100,1661100,1661100,47,47,47,47
23,COOP,1209720,1209720,1209720,1209720,71,71,71,71
78,TELO,966000,966000,966000,966000,7,7,7,7
55,NGL,581566,174824,290783,406742,12,6,6,6